/*
=================================================
; Title:  custom-style.css
; Author: Verlee Washington
; Date:   10 March 2020
; Description: Styling for professional portfolio.
;================================================
*/

body {
	font-family: 'Oswald', sans-serif,'Convergence';
	font-weight: 300;
	font-size: 16px;
	background-color: rgba(241, 214, 155);
}

h2 {
  	color: rgba(28,173,228, 0.7);
	text-align: center;
	font-size: 30px;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h3 {
  	text-align: left;
	font-size: 30px;
	margin-left: 10px;
}

.carousel {
	background-color: rgba(28,173,228, 0.7);
}
nav ul {
	padding: 10px;
	margin-bottom: 20px;
	font-size: 2em;
	width: 98%;
}
	
nav li {
    display: inline-block;
	border: 4px solid rgba(28,173,228, 0.7);
	background-color: white;
	border-radius: 20px;
}
	
nav li a {
	text-decoration: none;
	padding: 10px;
	color: #1d1819;
	border-radius: 20px;
}

nav li a:hover, nav li a.current {
	color: #b5b5b5;
} 

th {
	font-size: 20px;
	height: 50px;
	text-align: center;
	background-color: rgba(28,173,228, 0.7);
}
table, th, td {
	border: 2px solid rgba(28,173,228, 0.7);
	border-collapse: collapse;
}

tr:hover {
	background-color: rgb(181, 181, 181);
}

td {
	padding: 10px;
	text-align: left;    
}

.carousel-control {
	height:48px;
	margin-top: 6px;
	margin-left:  325px;
	margin-right: 325px;
	border-radius: 20px;
}

div.gallery {
    margin: 5px;
    border: 2px solid #507FEB; 
    float: right;
	width: 200px;
	height: 260px;
    margin-left: 6px;
}
  
div.gallery:hover {
    border: 1px solid #777;
}
  
div.gallery img {
    width: 100%;
    height: auto;
}
  
div.desc {
    padding: 15px;
    text-align: center;
}

p {
	  padding: 6px;
	  width: 100%;
}

card {
	width: 50%;
}

footer {
	color: #1d1819;
	height: 50px;
	text-align: left;
	padding-left: 25px;
	margin-top: 10px;	
	font-size: 12px;
	width: 98%;
	margin-bottom: 10px;
	padding-bottom: 10px;
}

